  - name: Install System Packages 1 (build tools)
    become: true
    ansible.builtin.apt:
      name: ['build-essential', 'cmake']

  - name: Install System Packages 2 (UNIX utils)
    become: true
    ansible.builtin.apt:
      name: ['unzip', 'curl', 'wget', 'unzip', 'tar', 'gzip', 'git']

  - name: Install System Packages 3 (Python)
    become: true
    ansible.builtin.apt:
      name: ['python3', 'python3-dev', 'python3-pip']
