  - name: Install System Packages 1 (build tools)
    become: true
    ansible.builtin.apt:
      name: ['build-essential', 'cmake', 'software-properties-common']

  - name: Install System Packages 2 (UNIX utils)
    become: true
    ansible.builtin.apt:
      name: ['unzip', 'curl', 'wget', 'unzip', 'tar', 'gzip', 'git']

  - name: Install System Packages 2 (networking)
    become: true
    ansible.builtin.apt:
      name: ['mosh']

  - name: Install System Packages 3 (Python)
    become: true
    ansible.builtin.apt:
      name: ['python3', 'python3-dev', 'python3-pip']

  - name: Install Productivity Tools
    become: true
    ansible.builtin.apt:
      name: ['htop', 'tree', 'fzf', 'xclip']

  - name: Install Profiling Tools
    become: true
    ansible.builtin.apt:
      name: ['perf']
