- name: Cloning .dotfiles
  ansible.builtin.git:
    repo: 'git@github.com:IamGianluca/dotfiles.git'
    dest: "{{ lookup('env', 'HOME') }}/.dotfiles"
    recursive: yes
    update: yes
    accept_hostkey: yes
    version: main

- name: Install dotfiles
  shell: cd $HOME/.dotfiles && ./install
  ignore_errors: true
