# - name: Install fonts-powerline
#   become: true
#   ansible.builtin.apt:
#     name: ['fonts-powerline']
#
- name: Check if git directory exists
  stat:
   path: "{{ lookup('env', 'HOME') }}/git/"
  register: my_folder

- name: Echo if directory already existed
  debug:
    msg: "The Git directory already exist"
  when: my_folder.stat.exists

- name: Create Git directory if not exists
  file:
   path:  "{{ lookup('env', 'HOME') }}/git/"
   state: directory
   mode: 0775
  when: my_folder.stat.exists == false

- name: Cloning powerline-shell repo
  ansible.builtin.git:
    repo: 'https://github.com/b-ryan/powerline-shell'
    dest: "{{ lookup('env', 'HOME') }}/git/powerline-shell"
    recursive: yes
    update: yes
    accept_hostkey: yes
    version: master

- name: Run whoami without become
  command: whoami
  changed_when: false
  become: false
  register: whoami

- name: Set a fact with the user name
  set_fact:
    login_user: "{{ whoami.stdout }}"

- name: Install powerline-shell
  shell: "cd {{ lookup('env', 'HOME') }}/git/powerline-shell/ && python3 setup.py install"
