- name: Install pyenv
  ansible.builtin.git:
    repo: 'https://github.com/pyenv/pyenv.git'
    dest: '~/.pyenv'

- name: Install pyenv-virtualenv
  ansible.builtin.git:
    repo: 'https://github.com/pyenv/pyenv-virtualenv.git'
    dest: '~/.pyenv/plugins/pyenv-virtualenv'

- name: Install requirements for build enviroment
  become: true
  ansible.builtin.apt:
    name: ['build-essential', 'libssl-dev', 'zlib1g-dev', 'libbz2-dev', 'libreadline-dev', 'libsqlite3-dev', 'curl', 'libncursesw5-dev', 'xz-utils', 'tk-dev', 'libxml2-dev', 'libxmlsec1-dev', 'libffi-dev', 'liblzma-dev']

## doesn't work when running in ansible
# - name: Restart Shell
#   shell: exec "$SHELL"
#
# - name: Install Python 3.10
#   shell: /bin/zsh pyenv install 3.10.7
#
# - name: Set Global Python Interpreter
#   shell: pyenv global 3.10.7

- name: Install Poetry
  shell: curl -sSL https://install.python-poetry.org | python3 -

# - name: Enable tab completion for oh-my-zsh 
#   shell: "mkdir ~/.oh-my-zsh//custom/plugins/poetry && poetry completions zsh > ~/.oh-my-zsh/custom/plugins/poetry/_poetry"
#   args:
#     executable: /bin/zsh
