- name: Install ZSH
  become: true
  apt: name=zsh
    
# todo: does not work when running in ansible
- name: Change shell to zsh
  become: true
  shell: chsh -s $(which zsh)

- name: Check if oh-my-zsh directory exists
  stat:
   path: "{{ lookup('env', 'HOME') }}/.oh-my-zsh/"
  register: my_folder

- name: Echo if directory already existed
  debug:
    msg: "Oh-My-Zsh directory already exist"
  when: my_folder.stat.exists
    
- name: Oh-My-Zsh
  shell: curl -L https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh > ~/.oh-my-installer && chmod +x ~/.oh-my-installer && ~/.oh-my-installer
  when: my_folder.stat.exists == false

- name: Install powerlevel10k
  ansible.builtin.git:
    repo: "https://github.com/romkatv/powerlevel10k.git"
    dest: "~/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
      
- name: Install zsh-vi-mode
  ansible.builtin.git:
    repo: "https://github.com/jeffreytse/zsh-vi-mode"
    dest: "~/.oh-my-zsh/plugins/zsh-vi-mode"

- name: Install zsh-autosuggestions
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions.git"
    dest: "~/.oh-my-zsh/plugins/zsh-autosuggestions"

- name: Install zsh-syntax-highlighting
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-syntax-highlighting"
    dest: "~/.oh-my-zsh/plugins/zsh-syntax-highlighting"
